// mja
.smallcontent {
    font-size: .7rem; 
}

.smallcontent a {
      color: #888;
      text-decoration: underline;
}

.smallcontent a:hover {
        color: $primary-color;
        text-decoration: none;
}
 
.biglas {
    font-size: 6rem;
}

.invisible-table table {
    border-collapse: collapse;
    width: 65%;
  }
  .invisible-table tr {
    vertical-align: middle;
  }
 .invisible-table td,th {
    border-style: hidden;
    background-color: white;
    padding: 0.6rem;
  }