// mja
.smallcontent {
    font-size: .7rem; 
}

.smallcontent a {
      color: #888;
      text-decoration: underline;
}

.smallcontent a:hover {
        color: $primary-color;
        text-decoration: none;
}
 
.biglas {
    font-size: 6rem;
}